<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Note Me Maybe</title>
  <link href="/static/css/normalize.css" rel="stylesheet"/>
  <link href="/static/css/main.css" rel="stylesheet"/>
</head>
<body>
  <section>
    <header><h1>Note Me Maybe</h1></header>
    <p><strong>Note Me Maybe</strong> is a minimalistic online notepad.</p>
    <ol>
      <li>Write text in Markdown</li>
      <li>Format it with a click of a button</li>
    </ol>
    <p>Text saves automatically, but you can also press a button to save manually.</p>
    <p>To create a note with a custom URL, go to <code>/n/&lt;custom_url&gt;</code>. If a note doesn't already exist at that URL, a new one will be created.</p>
    <p id="controls">
      <a href="/new"><button id="new-note" href="/new">New note</button></a>
    </p>
    <p><strong>Note Me Maybe</strong> was created by <a href="http://www.tomshen.me/">Tom Shen</a>. Source code is on <a href="https://github.com/tomshen/notememaybe">Github</a>.</p>
    </div>
  </section>
  
</body>
</html>